# Игнорирование временных файлов и каталогов сборки
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache

# Игнорирование каталога среды разработки
.vs/

# Игнорирование конфигурационных файлов и файлов пользовательских настроек
*.config
*.csproj.user

# Игнорирование каталогов и файлов пакетного менеджера
packages/
*.nupkg

# Игнорирование файлов резервных копий и временных файлов
*~
*.bak
